# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts






# admin 
# {
#     "accessToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI4MzA5NWIzNC01NWY5LTQ1OWYtYjU5MC1iYTUxMjRkZGI4YmYiLCJyb2xlIjoiQURNSU4iLCJpYXQiOjE3NjYyMTIzMTAsImV4cCI6MTc2NjIxNTAxMH0.a789rD5xLg-2tCIC4coGjbTrU3aAnam5yRTPAlQnig4",
#     "refreshToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI4MzA5NWIzNC01NWY5LTQ1OWYtYjU5MC1iYTUxMjRkZGI4YmYiLCJyb2xlIjoiQURNSU4iLCJpYXQiOjE3NjYyMTIzMTAsImV4cCI6MTc2NjgxNzExMH0.ltq72KeW6YAdZOSye2ETpDs4KhtMcamXQEo5UQZoTsM"
# }